<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" align="center">
    <p class="center">书籍信息</p>
    <table id="book_table" th:object="${book}">
        <tr>
            <th>书名</th>
            <td ><a th:text="*{name}" >b1</a></td>
        </tr>
        <tr>
            <th colspan="2">
                <img th:src="@{(*{front})}">
            </th>
        </tr>
        <tr>
            <th>内容简介</th>
            <td ><a th:text="*{intro}" >b1</a></td>
        </tr>
        <tr>
            <th colspan="2">
                <a th:href="@{/DownLoadServlet(bID=*{book_ID})}" target="_blank">下载</a>
                <a th:href="@{/userServlet(bID=*{book_ID},method=addMyStar)}" target="_blank">收藏</a>
            </th>
        </tr>
    </table>

</div>
</body>
</html>